body {
  /* background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0)),url("unnamed.jpg"); */
  background: linear-gradient(rgb(15, 172, 245), rgba(10, 192, 137, 0.712));
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Georgia, serif;
}

.container {
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  margin: 20px auto;
}

form {
  display: flex;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.addItemInput {
  height: 50px;
  border: none;
  font-family: Georgia;
  padding-left: 20px;
  font-size: 20px;
  display: block;
}

button {
  font-family: Georgia, serif;
  border: none;
  font-size: 20px;
  color: black;
  font-weight: bolder;
padding: 10px;
}

button:hover{
    color: white;
    background-color:darkturquoise;
}


h1 {
  font-size: 48px;
  color: black;
}

.listContainer{
  margin:80px 0;
  min-height: 300px;
  text-align: center;
  padding:0;
  font-size: 40px;
  display:flex;
  flex-direction: column;
  
  }
  div > *[contenteditable="true"]{
    background: rgba(255, 110, 110, 0.432);
    border: 2px dotted red;
  }
.listItem{
  width:100%;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(212, 255, 251);
  margin:20px 0;
  border: 2px solid rgb(1, 55, 124);
  padding-bottom: 20px;
}
.itemCheckBox{
  margin: 0;
  padding: 0;
  display: inline-flex;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
}
.itemTitle{
  display: inline;
  font-size: 30px;
}
.itemDescription{
  font-size: 18px;
  display: inline;
  text-align: left;
 
}
.imgTextContainer{
  display: block;
  line-height: 20px;
  text-align: left;
  padding: 20px;
}
.itemNumber{
width:20px;
display: inline;
font-size: 40px;
}
img{
  margin:0;
  object-fit: scale-down;
  max-height: 100%;
  max-width: 25%;
  margin:10px 20px 0 0;
  margin-left: 20px;
  float: left;
}
.edit{
    font-family: Georgia, serif;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    height: 50px;
    display: inline;
  
 
}
.delete{
    height: 50px;
    font-family: Georgia, serif;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    display: inline;
}
